BookShopProsumer/src/main/resources/payment-service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://api.paymentservice.sose.univaq.it/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="PaymentSOAPApiImplService" targetNamespace="http://api.paymentservice.sose.univaq.it/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://api.paymentservice.sose.univaq.it/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://api.paymentservice.sose.univaq.it/" version="1.0">
  <xs:element name="PayResponse" type="tns:payResponse"/>
  <xs:element name="pay" type="tns:pay"/>
  <xs:complexType name="pay">
    <xs:sequence>
      <xs:element minOccurs="0" name="payRequest" type="tns:payRequest"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="payRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="amount" type="xs:double"/>
      <xs:element minOccurs="0" name="cardNumber" type="xs:string"/>
      <xs:element name="cardSecretCode" type="xs:int"/>
      <xs:element minOccurs="0" name="cardUserInformation" type="xs:string"/>
      <xs:element minOccurs="0" name="sellerReference" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="payResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="transactionReferenceNumber" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="paymentResponse" nillable="true" type="tns:payResponse"/>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="payResponse">
    <wsdl:part element="tns:paymentResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pay">
    <wsdl:part element="tns:pay" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PaymentSoapApi">
    <wsdl:operation name="pay">
      <wsdl:input message="tns:pay" name="pay">
    </wsdl:input>
      <wsdl:output message="tns:payResponse" name="payResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PaymentSOAPApiImplServiceSoapBinding" type="tns:PaymentSoapApi">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="pay">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="pay">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="payResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PaymentSOAPApiImplService">
    <wsdl:port binding="tns:PaymentSOAPApiImplServiceSoapBinding" name="PaymentSOAPApiImplPort">
      <soap:address location="http://localhost:8080/PaymentService/message"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>