BookShopProsumer/src/main/resources/shipping-service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://api.shippingservice.sose.univaq.it/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ShippingSoapApiImplService" targetNamespace="http://api.shippingservice.sose.univaq.it/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://api.shippingservice.sose.univaq.it/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://api.shippingservice.sose.univaq.it/" version="1.0">
  <xs:element name="createShipping" type="tns:createShipping"/>
  <xs:element name="shipment" type="tns:shipment"/>
  <xs:complexType name="createShipping">
    <xs:sequence>
      <xs:element minOccurs="0" name="createShippingRequest" type="tns:createShippingRequest"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createShippingRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" type="xs:string"/>
      <xs:element minOccurs="0" name="objectWeight" type="xs:double"/>
      <xs:element minOccurs="0" name="userInfomation" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createShippingResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="shipment" type="tns:shipment"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="shipment">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" type="xs:string"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="objectWeight" type="xs:double"/>
      <xs:element minOccurs="0" name="shippingArrives" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="shippingStart" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="userInformation" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="createShippingResponse" nillable="true" type="tns:createShippingResponse"/>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="createShipping">
    <wsdl:part element="tns:createShipping" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createShippingResponse">
    <wsdl:part element="tns:createShippingResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ShippingSoapApi">
    <wsdl:operation name="createShipping">
      <wsdl:input message="tns:createShipping" name="createShipping">
    </wsdl:input>
      <wsdl:output message="tns:createShippingResponse" name="createShippingResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ShippingSoapApiImplServiceSoapBinding" type="tns:ShippingSoapApi">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="createShipping">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createShipping">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createShippingResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ShippingSoapApiImplService">
    <wsdl:port binding="tns:ShippingSoapApiImplServiceSoapBinding" name="ShippingSoapApiImplPort">
      <soap:address location="http://localhost:8080/ShippingService/message"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>