BookServiceProsumer/src/main/resources/review-service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://api.reviewservice.sose.univaq.it/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="MessageImplService" targetNamespace="http://api.reviewservice.sose.univaq.it/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://api.reviewservice.sose.univaq.it/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://api.reviewservice.sose.univaq.it/" version="1.0">
  <xs:element name="Review" type="tns:review"/>
  <xs:element name="getReviewsByBook" type="tns:getReviewsByBook"/>
  <xs:complexType name="getReviewsByBook">
    <xs:sequence>
      <xs:element name="idBook" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getReviewsByBookResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="reviews" nillable="true" type="tns:review"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="review">
    <xs:sequence>
      <xs:element minOccurs="0" name="autorUsername" type="xs:string"/>
      <xs:element name="bookId" type="xs:int"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="text" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getReviewsByBookResponse" nillable="true" type="tns:getReviewsByBookResponse"/>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getReviewsByBookResponse">
    <wsdl:part element="tns:getReviewsByBookResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getReviewsByBook">
    <wsdl:part element="tns:getReviewsByBook" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Message">
    <wsdl:operation name="getReviewsByBook">
      <wsdl:input message="tns:getReviewsByBook" name="getReviewsByBook">
    </wsdl:input>
      <wsdl:output message="tns:getReviewsByBookResponse" name="getReviewsByBookResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MessageImplServiceSoapBinding" type="tns:Message">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getReviewsByBook">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getReviewsByBook">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getReviewsByBookResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MessageImplService">
    <wsdl:port binding="tns:MessageImplServiceSoapBinding" name="MessageImplPort">
      <soap:address location="http://localhost:8080/ReviewService/message"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>